body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.love-note {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    position: relative; /* Add position relative to the love-note */
}

.gif-left,
.gif-right {
    position: absolute;
    top: 5%;
}

.gif-left {
    left: 25%;
}

.gif-right {
    right: 25%;
}

.gif-left img,
.gif-right img {
    max-width: 100px; /* Adjust the width of the GIFs as needed */
    height: auto;
}

/* New CSS for mobile responsiveness */
@media only screen and (max-width: 600px) {
    .gif-left,
    .gif-right {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        margin-bottom: 20px; /* Add margin to separate from text */
    }
    .gif-left {
        left: 0;
    }
    .gif-right {
        right: 0;
    }
}

.love-note p {
    margin-bottom: 15px;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.buttons {
    margin-top: 20px;
}

.giveaway-btn, .decline-btn {
    background-color: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.giveaway-btn:hover, .decline-btn:hover {
    background-color: #e95447;
}

footer {
    text-align: center;
}

.footer-text {
    font-style: italic;
    color: #888;
}

.gift {
    text-align: center;
}

.gift img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.caption {
    font-style: italic;
    color: #555;
    margin-top: 20px;
    font-size: 18px;
}